<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appwcfdm113.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>appwcfdm113.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>appWCFDM113</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$appWCFDM113</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ProductsModel" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:appwcfdm113server.database.windows.net,1433;Initial Catalog=appWCFDM133_db;User ID=appWCFDM113;Password=appADMIN113!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProductsEntityModel.ProductsModel, ProductsEntityModel" MigrationConfiguration="ProductsEntityModel.Migrations.Configuration, ProductsEntityModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProductsModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:appwcfdm113server.database.windows.net,1433;Initial Catalog=appWCFDM133_db;User ID=appWCFDM113;Password=appADMIN113!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProductsModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:appdbserverwcfdm113.database.windows.net,1433;Initial Catalog=appdbwcfdm113;User ID=adm113;Password=adminDM113</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProductsModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:appdbserverwcfdm113.database.windows.net,1433;Initial Catalog=appdbwcfdm113;User ID=adm113;Password=adminDM113</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProductsModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:appdbserverwcfdm113.database.windows.net,1433;Initial Catalog=appdbwcfdm113;User ID=adm113;Password=adminDM113</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>