<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProductsService" />
        <binding name="BasicHttpBinding_IProductsService1" />
        <binding name="BasicHttpsBinding_IProductsService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8010/ProductsService/Service.svc"
        binding="ws2007HttpBinding" bindingConfiguration="" contract="ProductsClient.ProductsService.IProductsService"
        name="WS2007HttpBinding_IProductsService" />
      <!--<endpoint address="http://appwcfdm113.azurewebsites.net/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductsService1"
        contract="ServiceReferenceAzure.IProductsService" name="BasicHttpBinding_IProductsService" />-->
      <endpoint address="https://appwcfdm113.azurewebsites.net/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IProductsService"
        contract="ServiceReferenceAzure.IProductsService" name="BasicHttpsBinding_IProductsService" />
      <!--<endpoint address="net.tcp://localhost:8080/TcpService" binding="netTcpBinding"
        bindingConfiguration="" contract="ProductsClient.ProductsService.IProductsService"
        name="NetTcpBinding_IProductsService" />
      <endpoint address="http://localhost:8000/ProductsService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductsService"
        contract="ProductsClient.ProductsService.IProductsService" name="BasicHttpBinding_IProductsService" />-->
    </client>
  </system.serviceModel>
</configuration>